asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
Babel==2.5.3
beautifulsoup4==4.6.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
Django==2.0.2
django-annoying==0.10.4
django-appconf==1.0.2
django-compressor==2.2
django-js-asset==1.0.0
django-material==1.2.2
django-mptt==0.9.0
django-phonenumber-field==2.0.0
django-sass-processor==0.5.8
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
libsass==0.13.7
lxml==4.1.1
parsel==1.4.0
phonenumberslite==8.9.0
Pillow==5.0.0
pushbullet.py==0.11.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.5.0
python-magic==0.4.15
pytz==2018.3
queuelib==1.4.2
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
Scrapy==1.5.0
scrapyd==1.2.0
selenium==3.10.0
service-identity==17.0.0
six==1.11.0
SkPy==0.8.1
sorl-thumbnail==12.4.1
Twisted==17.9.0
urllib3==1.22
w3lib==1.19.0
websocket-client==0.47.0
zope.interface==4.4.3
