<div class="row">
    <div class="col s12">
        <ul class="tabs">
            {% for s in doctor_spheres %}
                <li class="tab s3"><a class="{% if active_sphere == s %}active{% endif %} changelink"
                                      href="#sphere{{ forloop.counter }}">{{ s.sphere.name|truncatewords:3 }}
                    <div class="btn-floating btn-large waves-effect waves-light red"><i
                            class="circle">{{ s.rating|default:"-" }}</i></div>
                </a>
                </li>
            {% endfor %}

        </ul>
    </div>
    {% for s in doctor_spheres %}
        <div id="sphere{{ forloop.counter }}" class="col s12">
            {% for review in s.review_set.all %}
                <div class="row review">
                    <div class="col s11 m3">
                        <div class="review-form">
                            <div>
                                {% include 'accounts/_avatar.html' with width="50" height="50" img_class="circle" user=review.patient.user %}
                            </div>
                            <div class="center-align">comment:{{ review.comment }} mark:{{ review.mark }}</div>
                        </div>
                        <div class="review-form" style="display: none">
                            {% if patient == review.patient %}

                                {% with review.get_form as review_form %}
                                    <div class="review-form" style="display: none">
                                        {% include 'accounts/_review_create_update_form.html' with review_form=review_form pk=review.id doctor_sphere_id=s.id %}
                                    </div>
                                {% endwith %}

                            {% endif %}
                        </div>
                    </div>
                    <div class="col s1">
                        {% if patient %}
                            <div data-id="{{ forloop.counter }}" class="record-toggle">
                                <i class="material-icons blue">edit</i>
                            </div>
                            {% if patient == review.patient %}
                                <div data-review-id="{{ review.id }}" class="record-delete">
                                    <i class="material-icons red">delete</i>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
            {% if s.form %}
                <div class="review-form">
                    {% include 'accounts/_review_create_update_form.html' with doctor_sphere_id=s.id review_form=s.form %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>