{% extends 'base.html' %}
{% load material_form %}

{% block title %}Change password{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'change-password' %}" class="breadcrumb">Change password</a>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Change password</h2>
        <form method="post">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <input type="hidden" name="next" value="{% url 'profile' pk=user.id %}"/>
            <div class="center-align">
                <button class="waves-effect waves-light btn btn-large beige" type="submit">Change password</button>
            </div>
        </form>
    </div>
{% endblock %}