{% extends 'base.html' %}
{% load material_form %}

{% block title %}{{ block.super }}Login{% endblock %}
{% block breadcrumbs %}
    <a href="{% url 'login' %}" class="breadcrumb">Login</a>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <input type="hidden" name="next" value="{% url 'profile' %}"/>
            <div class="center-align">
                <button class="waves-effect waves-light btn btn-large" type="submit">Login</button>
                <a class="waves-effect waves-light btn btn-large" href="{% url 'sign-up' %}" type="submit">Sign up</a>
            </div>
        </form>
    </div>
{% endblock %}