{% extends 'base.html' %}
{% load material_form %}

{% block title %}{{ block.super }}Login{% endblock %}
{% block breadcrumbs %}
    {#    <a href="{% url 'login' %}" class="breadcrumb">Login</a>#}
{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">

            <h2 style=" margin: auto; margin-top: 10%;">Вход на сайт</h2>

             <div class="col col-6 offset-3">
                <form method="post">
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <input type="hidden" name="next" value="{% url 'self-profile' %}"/>
                    <div class="center-align">
                        <button class="waves-effect waves-light btn-large btn m-1 beige" type="submit">Войти</button>
                        <a class="waves-effect waves-light btn btn-large  m-1 wave" href="{% url 'patient-sign-up' %}">Регистрация</a>
                    </div>

                </form>
            </div>

        </div>

    </div>
{% endblock %}