{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load material_form %}
{% block breadcrumbs %}
    <a href="{% url 'profile' pk=patient.user.id %}" class="breadcrumb">Patient profile</a>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div>
        {{ patient.user.username }}
        {{ patient.user.avatar }}

        {% thumbnail patient.user.avatar "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% empty %}
            {% if patient.gender == 'man' %}
                <img src="{% static 'images/male-avatar.png' %}" width="100px" height="100px">
            {% elif patient.gender == 'woman' %}
                <img src="{% static 'images/female-avatar.png' %}" width="100px" height="100px">
            {% else %}
                <img src="{% static 'images/another-avatar.png' %}" width="100px" height="100px">
            {% endif %}
        {% endthumbnail %}
        {% if not relationships.patient_accept %}
            {% if relationships.doctor_accept %}
                <button class="btn" id="require-access" data-doctor-accept="false">
                    Вы запросили доступ,
                    Закрыть данные для этого пользователя
                </button>
            {% else %}
                <button class="btn" id="require-access" data-doctor-accept="true">Запросить доступ и открыть свои
                    данные
                </button>
            {% endif %}
        {% endif %}
        {% if relationships.patient_accept %}
            <div class="container">
                <div class="card-panel teal lighten-2">Это ваш пациент</div>
                <button class="btn waves-effect">Написать</button> {# TODO add chat pop up here #}
                {% if medical_records %}
                    <div id="medical_records">
                        {% include 'deceases/_medical_records.html' %}
                    </div>
                    <div>
                        {% include 'deceases/_doctor_create_update_decease.html' with action="Добавить" %}
                    </div>
                {% else %}
                    <h3>There are no medical records, please, fill it in</h3>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block extrajs %}
    <script>
        $(document).ready(function () {
            $('#require-access').on('click', function () {
                el = $(this);
                $.ajax({
                    "type": "POST",
                    "url": "{% url 'update-relationships' pk=relationships.id %}",
                    "data": {"doctor_accept": el.data('doctor-accept')},
                    "success": function (result) {
                        console.log(result);
                        doctor_accept = result.doctor_accept;
                        console.log(doctor_accept);
                        el.data('doctor-accept', !doctor_accept);
                        if (doctor_accept) {
                            el.html(' Вы запросили доступ,\n' +
                                '                    Закрыть данные для этого пользователя')
                        }
                        else {
                            el.html('Запросить доступ и открыть свои данные')
                        }
                        location.reload();
                    },
                    "error": function (result) {
                        console.log(result)
                    }
                })
            });

            function sumbit_init() {
                $('.create-update-decease').submit(function () {
                    form = $(this);
                    console.log('got');
                    div = form.parent();
                    $.ajax({
                        data: form.serialize(),
                        type: form.attr('method'),
                        url: form.attr('action'),
                        success: function (response) {
                            div.html(response);
                            var status_code = parseInt($("#decease-status-code").html());
                            if (status_code === 201 || status_code === 204) {
                                render_medical_card();
                            }
                            else {
                                materialize_initiailize();
                                sumbit_init();

                            }
                        }
                    });
                    return false;
                })
            }

            sumbit_init();

            function render_medical_card() {
                console.log('got');
                $.ajax({
                    type: "GET",
                    url: "{% url 'medical-records' patient_id=patient.id %}",
                    success: function (response) {
                        $("#medical_records").html(response);
                        record_toggle_init();
                        materialize_initiailize();
                        sumbit_init();
                    }
                })
            }

            function record_toggle_init() {
                console.log('here 2');
                $('.record-toggle').on('click', function (e) {
                    console.log('here');
                    id = $(this).data('id');
                    $('#record-table-' + id).toggle();
                    $('#record-edit-form-' + id).toggle();
                })
            }

            record_toggle_init();

        });
    </script>
{% endblock %}