{% extends 'base.html' %}
{% load material_form %}

{% block content %}
    <div class="container">
        {% if medical_records %}
            <h3>Medical records</h3>
            <table class="responsive-table table-of-contents">
                <tr>
                    <th>Decease</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Cured</th>
                </tr>
                {{ medical_records.count }}
                {% for record in medical_records %}
                    <tr>
                        <td>{{ record.decease }}</td>
                        <td>{{ record.start_date }}</td>
                        <td>{{ record.end_date|default:'-' }}</td>
                        <td>
                            {% if record.cured %}
                                <i class="material-icons green">check</i>
                            {% else %}
                                <i class="material-icons red">close</i>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
            </table>
        {% else %}
            <h3>There are no medical records, please, fill it in</h3>
        {% endif %}
        <div class="divider"></div>
        <form method="post">
            {% csrf_token %}
            {{ patient_decease_formset.management_form }}
            <div id="form_set">
                {% for form in patient_decease_formset.forms %}
                    <table class='no_error'>
                        {% form form=form %}
                            {% part form.cured label %}<label for="{{ form.cured.auto_id }}">Cured</label>
                            {% endpart %}
                        {% endform %}
                    </table>
                {% endfor %}
            </div>
            <button class="btn waves-effect">Sumbit</button>
        </form>
        <div class="center-align">
            <button id="add_more" class="btn waves-effect ">Add more</button>
        </div>
        <div id="empty_form" style="display:none">
            {% form form=patient_decease_formset.empty_form %}
                {% part form.cured label %}<label for="{{ form.cured.auto_id }}">Cured</label>
                {% endpart %}
            {% endform %}

        </div>
    </div>
    <script>
        $('#add_more').click(function () {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
            materialize_initiailize()
        });
    </script>
{% endblock %}