{% extends 'base.html' %}
{% load material_form %}
{% block breadcrumbs %}
    <a href="{% url 'profile' pk=doctor.user.id %}" class="breadcrumb">Doctor profile</a>
{% endblock %}
{% block content %}
    {% include 'accounts/_avatar.html' with height="100" width="100" user=doctor.user  img_class="circle" %}
    {% if not relationships.doctor_accept %}
        {% if relationships.patient_accept %}
            <button class="btn" id="require-access" data-patient-accept="false">
                Вы запросили доступ,
                Закрыть данные для этого пользователя
            </button>
        {% else %}
            <button class="btn" id="require-access" data-patient-accept="true">Запросить доступ и открыть свои
                данные
            </button>
        {% endif %}
    {% endif %}
    {% if relationships.doctor_accept %}
        <div class="container">
            <div class="card-panel teal lighten-2">Это ваш доктор</div>
            <button class="btn waves-effect">Написать</button>

        </div>
    {% endif %}
    {% if doctor_spheres %}
        <div class="row container">
            {% include 'accounts/_reviews.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function () {
            $('#require-access').on('click', function () {
                el = $(this);
                $.ajax({
                    "type": "POST",
                    "url": "{% url 'update-relationships' pk=relationships.id %}",
                    "data": {"patient_accept": el.data('patient-accept')},
                    "success": function (result) {
                        console.log(result);
                        var patient_accept = result.patient_accept;
                        console.log(patient_accept);
                        el.data('doctor-accept', !patient_accept);
                        if (patient_accept) {
                            el.html(' Вы запросили доступ,\n' +
                                '                    Закрыть данные для этого пользователя')
                        }
                        else {
                            el.html('Запросить доступ и открыть свои данные')
                        }
                        location.reload();
                    },
                    "error": function (result) {
                        console.log(result)
                    }
                })
            });
        })
    </script>
{% endblock %}