{% extends 'base.html' %}
{% load material_form %}
{% block content %}
    <form class="form" method="post">
        {% csrf_token %}
        {% form form=user_form %}{% endform %}
        {% form form=doctor_form %}
            {% part form.accept_call label %}<label for="{{ form.accept_call.auto_id }}">Accept call</label>
            {% endpart %}
            {% part form.accept_chat label %}<label for="{{ form.accept_chat.auto_id }}">Accept chat</label>
            {% endpart %}

        {% endform %}
        {% form form=public_doctor_form %}
        {% endform %}
        <div class="center-align">
            <button class="waves-effect waves-light btn btn-large" type="submit">Update</button>
        </div>
    </form>
{% endblock %}