{% extends 'base.html' %}
{% load material_form %}
{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="container">

        <div class="d-flex flex-column justify-content-center flex-sm-row">
            <a href="{% url 'change-password' %}" class="btn wave-effects lighten-2 m-2">Change password</a>
            <a href="{% url 'update-profile' %}" class="btn wave-effects lighten-2 m-2">Update profile</a>
            <a href="{% url 'sphere-create' doctor_pk=request.user.doctor.id %}" class="btn wave-effects lighten-2 m-2">Add
                sphere</a>
        </div>
        <div class="divider"></div>
        {% include 'accounts/doctor/_doctor_info.html' with patient_accept=False doctor_accept=True %}
        <div class="divider"></div>
        {% if doctor_spheres %}
            {% include 'accounts/_reviews.html' %}
        {% endif %}
    </div>

{% endblock %}