{% extends 'base.html' %}
{% load utils %}
{% block breadcrumbs %}
    <a href="{% url 'profile' pk=doctor.user.id %}" class="breadcrumb">Doctor profile</a>
    {#    TODO timetable breadcrumb#}
{% endblock %}

{% block content %}
    <style>
        .timetable-cell {
            height: 60px;
            width: 60px;
            border: 1px solid black;
            margin-left: 0px;
        }

        .timetable-cell.disabled {
            background: grey;
        }

        .timetable-cell.free:hover {
            background: lightblue;
        }

        .shifts {
            display: flex;
            flex-direction: row;
        }

        .shift {
            display: flex;
            flex-direction: column;
        }

        .date-header {
            font-size: 18px;
            font-weight: bold;
        }

        .green {
            background: green;
        }
    </style>
    <div class="container">
        {% for shift_type in shift_types %}
            <div>
                <h4> Смена {{ shift_type.start|date:"H:i" }} - {{ shift_type.end|date:"H:i" }},
                    время приема {{ shift_type.gap.seconds|divide_no_remainder:60 }} минут</h4>
            </div>
            <div style="display: flex;flex-direction: row">
                <div style="display: flex; flex-direction: column">
                    {% for gap in shift_type.visit_gaps %}

                        {% if forloop.counter0 == 0 %}
                            <div class="timetable-cell">
                            </div>
                        {% endif %}
                        <div class="timetable-cell">
                            {{ gap.0|date:"H:i" }} - {{ gap.1|date:"H:i" }}
                        </div>
                    {% endfor %}
                </div>
                <div class="shifts">
                    {% for shift in shift_type.shift_set.all %}
                        <div class="shift">
                            {% for gap_visit in shift.timetable_visits %}
                                {% if forloop.counter0 == 0 %}
                                    <div class="timetable-cell">
                                        <div class="date-header">{{ shift.day|date:"m-d" }}</div>
                                    </div>
                                {% endif %}
                                {% if gap_visit %}
                                    <div class="timetable-cell disabled {% if gap_visit.patient == user.patient %} green{% endif %}">

                                    </div>

                                {% else %}
                                    <div class="timetable-cell free">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block extrajs %}

{% endblock %}