<div class="col-12 col-md-6 col-lg-4 col chat-block" id="chat-block-short" style="display: none">
    <div class="chat-short-header">
        <div class="message-search">
            <i class="small material-icons">search</i>
            <input class="circle" type="text">
        </div>
        <a class="chat-close"><i class="small material-icons">close</i></a>
    </div>
    <div class="chat-short-chats">
        {% for chat in chats %}
            <div class="chat-short" data-chat-id="{{ chat.id }}"
                 data-user-id="
                         {% if user.is_patient %}{{ chat.doctor.user.id }} {% elif user.is_doctor %}{{ chat.patient.user.id }}{% endif %}"
                 data-with-id="
                         {% if user.is_patient %}{{ chat.doctor.user.id }}{% elif user.is_doctor %}{{ chat.patient.user.id }}{% endif %}">
                {% if user.is_patient %}
                    <a href="{% url 'profile' pk=chat.doctor.user.id %}" class="chat-avatar">
                        {% include 'accounts/_avatar.html' with user=chat.doctor.user height='50' width='50' img_class='circle' %}
                    </a>
                {% elif user.is_doctor %}
                    <a href="{% url 'profile' pk=chat.patient.user.id %}" class="chat-avatar">
                        {% include 'accounts/_avatar.html' with user=chat.patient.user height='50' width='50' img_class='circle' %}
                    </a>
                {% endif %}
                <div class="username-last-message">
                    <div>
                        {% if user.is_patient %}
                            {{ chat.doctor.user.username }}
                        {% elif user.is_doctor %}
                            {{ chat.patient.user.username }}
                        {% endif %}
                    </div>
                    <div class="last-message">
                        <div class="last-message-text">{{ chat.last_message.text }}t</div>
                        <div class="last-message-time">{{ chat.last_message.timestamp|date:"H:i" }}</div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        {% endfor %}
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4 col chat-block" id="chat-block-full" style="display: none">
    <div>
        <div class="chat-header">
            <a class="chat-back"><i class="small material-icons">arrow_back</i> </a>
            <div class="chat-interlocutor">
                <div class="interlocutor-avatar"></div>
                <div class="interlocutor-name"></div>
            </div>
            <a class="chat-close"><i class="small material-icons">close</i></a>
        </div>
        <div class="divider"></div>
    </div>
    <div class="chat-messages">

    </div>
    <div id="invisible-text-message-block" style="display: none">
        <div class="message-text-block">
            <div class="message">
                <div class="message-text"></div>
                <div class="message-time"></div>
            </div>
            {#            <div class="message-text time"></div>#}
        </div>
    </div>
    <div>
        <div class="divider"></div>
        <div class="message-input-block">
            <input id="message-input">
            <a id="send-message"><i class="small material-icons">send</i></a>
        </div>
    </div>
</div>
<div class="chat-block" id="chat-icon"><a id="open-chat" class="beige btn-floating btn-large"><i
        class="medium material-icons">chat</i></a></div>
