<div class="s12 m4 l2 col chat-block" id="chat-block-short">
    <div class="chat-short-header">
        <div class="message-search">
            <i class="small material-icons">search</i>
            <input class="circle">
        </div>
        <a class="chat-close"><i class="small material-icons">close</i></a>
    </div>
    <div class="chat-short-chats">
        {% for chat in chats %}
            <div class="chat-short" data-chat-id="{{ chat.id }}"
                 data-user-id="{% if user.is_patient %}{{ chat.doctor.user.id }} {% elif user.is_doctor %}{{ chat.patient.user.id }}{% endif %}"
                 data-with-id="{% if user.is_patient %}{{ chat.doctor.user.id }}{% elif user.is_doctor %}{{ chat.patient.user.id }}{% endif %}">

                {#        TODO add photo#}
                <img class="circle chat-avatar" src="http://materializecss.com/images/yuna.jpg">
                <div class="username-last-message">
                    <div>
                        {% if user.is_patient %}
                            {{ chat.doctor.user.username }}
                        {% elif user.is_doctor %}
                            {{ chat.patient.user.username }}
                        {% endif %}
                    </div>
                    <div class="last-message">
                        <div class="last-message-text">{{ chat.last_message.text }}t</div>
                        <div class="last-message-time">11:11:11</div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        {% endfor %}
    </div>
</div>
<div class="s12 m4 l2 col chat-block" id="chat-block-full" style="display: none">
    <div>
        <div class="chat-header">
            <a class="chat-back"><i class="small material-icons">arrow_back</i> </a>
            <div class="chat-interlocutor">
                <img class="circle chat-avatar" src="http://materializecss.com/images/yuna.jpg">
                <div class="interlocutor-name"></div>
            </div>
            <a class="chat-close"><i class="small material-icons">close</i></a>
        </div>
        <div class="divider"></div>
    </div>
    <div class="chat-messages">

    </div>
    <div id="invisible-text-message-block" style="display: none">
        <div class="message-text-block">
            <div class="message col s12">
                <div class="message-text"></div>
                <div class="message-time"></div>
            </div>
{#            <div class="message-text time"></div>#}
        </div>
    </div>
    <div>
        <div class="divider"></div>
        <div class="message-input-block">
            <input id="message-input">
            <a id="send-message"><i class="small material-icons">send</i></a>
        </div>
    </div>
</div>
<div class="chat-block" id="chat-icon" style="display: none"><a id="open-chat"><i
        class="medium material-icons icon-red">chat</i></a></div>
