{% extends 'base.html' %}
{% load material_form %}
{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'update-profile' %}" class="breadcrumb">Update profile</a>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=user_form %}{% endform %}
            {% form form=patient_form %}{% endform %}

            <div class="center-align">
                <button class="waves-effect waves-light btn btn-large beige" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock %}