{% extends 'base.html' %}
{% load material_form %}
{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="d-flex flex-column justify-content-center flex-sm-row">
            <a href="{% url 'change-password' %}" class="btn wave-effects teal lighten-2 m-2">Поменять пароль</a>
            <a href="{% url 'update-profile' %}" class="btn wave-effects teal lighten-2 m-2">Обновить профиль</a>
            <a href="{% url 'diagnostics' %}" class="btn wave-effects teal lighten-2 m-2">Диагностика</a>
        </div>
        {% if medical_records %}
            <h3 style="margin-top: 3%">Мед. карта пациента</h3>
            <table class="table-of-contents">
                <tr>
                    <th>Болезнь</th>
                    <th>Начало</th>
                    <th>Конец</th>
                    <th>Состояние</th>
                </tr>
                {% for record in medical_records %}
                    <tr>
                        <td>{{ record.decease }}</td>
                        <td>{{ record.start_date }}</td>
                        <td>{{ record.end_date|default:"-" }}</td>
                        <td>
                            {% if record.cured %}
                                <div class="green btn-floating btn-small"><i
                                        class="small material-icons">check</i></div>
                            {% else %}
                                <div class="red btn-floating btn-small"><i
                                        class="small material-icons">close</i></div>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
            </table>
        {% else %}
            <h3>Нет медицинских записей, пожалуйста заполните</h3>
        {% endif %}
        <div class="divider"></div>
        <form method="post">
            {% csrf_token %}
            {{ patient_decease_formset.management_form }}
            <div id="form_set">
                {% for form in patient_decease_formset.forms %}
                    <table class='no_error'>
                        {% form form=form %}
                        {% endform %}
                    </table>
                {% endfor %}
            </div>
            <div class="center-align mt-1 mb-2">
                <button class="btn waves-effect beige">Занести заболевания в мед. карту</button>
                <a id="add_more" class="btn waves-effect beige">Добавить форму</a>
            </div>

        </form>

        <div id="empty_form" style="display:none">
            {% form form=patient_decease_formset.empty_form %}
            {% endform %}

        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        function autocomplete() {
            $('.decease-input').each(function () {
                $(this).devbridgeAutocomplete({
                    serviceUrl: '/deceases/autocomplete/',
                });
            })
        }

        autocomplete();
        $('#add_more').click(function () {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
            materialize_initiailize();
            autocomplete()
        });
    </script>
{% endblock %}