{% for el in deceases_with_doctors %}
    <div class="row  align-items-center m-1">
        <div>
            {#            <a href="{% url 'profile' pk=review.patient.user.id %}">#}
            {#                {% include 'accounts/_avatar.html' with width="50" height="50" img_class="circle" user=review.patient.user %}#}
            {#            </a>#}
        </div>
        <div class="btn-floating btn-large waves-effect waves-light teal lighten-2"><i
                class="circle">{{ el.decease.chance }}%</i></div>
        <div class="col">
            <p>Предполагаемая болезнь</p>
            <a href="{% url 'decease-list' %}?decease_id={{ el.decease.id }}" target="_blank">{{ el.decease.name }}</a>
        </div>
        {% if el.doctors %}
            <div class="col mt-sm-0 mt-2">
                <p>Рекоммендуемые врачи:</p>
                <div class="row">
                    {% for d in el.doctors %}
                        <a href="{% url 'profile' pk=d.user.id %}" target="_blank">
                            {% include 'accounts/_avatar.html' with width="50" height="50" img_class="circle" user=review.patient.user %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>
    <div class="divider"></div>
{% endfor %}