{% extends 'base.html' %}
{% load mptt_tags %}

{% block breadcrumbs %}
    <a href="{% url 'profile' user.id %}" class="breadcrumb">Profile</a>
    <a href="{% url 'diagnostics' %}" class="breadcrumb">Symptom pick</a>
{% endblock %}

{% block content %}
    <div class="container">
        <form id="symptoms-search">
            {% csrf_token %}
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="autocomplete" id="multiple">
                            <div class="ac-users"></div>
                            <div class="ac-input">
                                <input type="text" id="symptoms" placeholder="Please input some letters"
                                       data-activates="multipleDropdown" data-beloworigin="true" autocomplete="off">
                            </div>
                            <ul id="multipleDropdown" class="dropdown-content ac-dropdown"></ul>
                            <input type="hidden" name="multipleHidden"/>
                        </div>
                        <label class="active" for="multipleInput">Выбранные симптомы: </label>
                    </div>
                </div>
            </div>
            <button class="btn waves-effect beige">Get deceases</button>
            <div class="col s12">
                <ul id="tabs-swipe-demo" class="tabs">
                    <li class="tab col s6" style="width: 50%"><a class="active" href="#body-part">Часть тела</a></li>
                    <li class="tab col s6" style="width: 50%"><a href="#symptom">Симптом</a></li>
                </ul>

                <div id="body-part" class="tabs content" style="width: 100%; height: 1000px;">
                    <ul class="collapsible" data-collapsible="accordion">
                        {% recursetree body_symptoms %}
                            <li>
                                {% if not node.is_leaf_node %}
                                    <div class="collapsible-header">{{ node.name }}
                                    </div>
                                    <div class="collapsible-body">
                                        <ul class="children collapsible" data-collapsible="accordion">
                                            <li>{{ children }}</li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <div class="h3">
                                        <a class="symptom-trigger button waves-effect"
                                           data-id="{{ node.id }}">{{ node.name }}</a>
                                    </div>

                                {% endif %}
                            </li>
                        {% endrecursetree %}
                    </ul>
                </div>
                <div id="symptom" class="card" style="width: 100%; height: 1000px;">Симптом</div>
            </div>


        </form>
        <div id="deceases" style="height: 1000px; width: 1000px; border: 1px gainsboro solid;"></div>
    </div>

{% endblock %}
{% block extrajs %}
    <script>
        $(document).ready(function () {
            var multiple;
            $('.symptom-trigger').on('click', function (e) {
                el = $(e.target);
                $('ul.tabs').tabs('select', 'symptom');
                $.ajax({
                    "type": "GET",
                    "url": "{% url 'symptom-tree' %}",
                    "data": {'body_part_id': el.data('id')},
                    "success": function (result) {
                        $('#symptom').html(result);
                        $('.collapsible').collapsible();
                        $('.symptom-leaf').on('click', function (e) {
                            el = $(e.target);
                            console.log(el.text(), el.data('id'));
                            console.log(multiple)
                            multiple.append({'id': el.data('id'), 'text': el.text()})

                        });
                    },
                    "error": function (result) {
                        console.log(result);
                    }
                })
            });
            $('#symptoms-search').on('submit', function (e) {
                console.log(multiple.value);
                values = [];
                for (i = 0; i < multiple.value.length; i++) {
                    values.push(multiple.value[i].id)
                }
                $.ajax({
                    "type": "GET",
                    "url": "{% url 'deceases-by-symptoms' %}",
                    "data": {'symptoms': values},
                    "success": function (result) {
                        console.log(result);
                        $('#deceases').html(result);

                        materialize_initiailize();
                    },
                    "error": function (error) {
                        console.log(error);
                    }
                });
                e.preventDefault();
            });
            multiple = $('#symptoms').materialize_autocomplete({
                multiple: {
                    enable: true
                },
                appender: {
                    el: '.ac-users'
                },
                getData: function (value, callback) {
                    console.log(value);
                    data = [];
                    if (value.length < 3) {
                        return data
                    }
                    $.ajax({
                        "type": "GET",
                        "dataType": "json",
                        "url": "{% url 'symptoms-autocomplete' %}",
                        "data": {'name': value},
                        "success": function (result) {

                            for (var i = 0; i < result.length; i++) {
                                data[i] = {'id': result[i]['id'], 'text': result[i]['name']}
                            }
                            console.log(data);
                            callback(value, data);
                        },
                        "error": function (error) {
                            console.log(error);
                            callback(value, data);
                        }
                    });

                }
            });
        });
    </script>
{% endblock %}