{% extends 'base.html' %}
{% load material_form %}
{% block breadcrumbs %}
    <a href="{% url 'sign-up' %}" class="breadcrumb">Sign up</a>
    <a href="{% url 'private-doctor-sign-up' %}" class="breadcrumb">Private doctor sign-up</a>
{% endblock %}
{% block content %}

    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% form form=user_form %}{% endform %}
        {% form form=doctor_form %}
        {% endform %}
        {% form form=private_doctor_form %}
        {% endform %}
        <div class="center-align">
            <button class="waves-effect waves-light btn btn-large" type="submit">Sign up</button>
        </div>
    </form>
{% endblock %}