{% extends 'base.html' %}

{% block breadcrumbs %}

  <a href="{% url 'decease-list' %}" class="breadcrumb">Болезни</a>
{% endblock %}
{% block content %}
  <div class="row center-align m-2">
    <div class="col col-12 col-md-4 left-align">
      <input id="decease-input" type="text">
      <ul class="collapsible expandable popout hide-on-med-and-down">
        {% for sphere in spheres %}
          <li>
            <div class="collapsible-header d-flex justify-content-between align-items-end">
              <div>{{ sphere.name }}</div>
              <div class="arrow"><i class="small material-icons">arrow_drop_down</i></div>
            </div>
            <div class="collapsible-body">
              <ul>
                {% for decease in sphere.decease_set.all %}
                  <li>

                    <div class="decease-detail"
                         data-id="{{ decease.id }}">{{ decease.name }}</div>
                    <div class="divider"></div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col col-12 col-md-8 decease"></div>
  </div>
{% endblock %}
{% block extrajs %}
  <script>
      $(document).ready(function () {
          var history = false;
          var sug;

          function click_decease_by_id(id) {
              var el = $(".decease-detail[data-id='" + id + "']");
              el.click();
              var header = el.parents('.collapsible-body').siblings('.collapsible-header');
              console.log(header.h)
              if (!header.parent().hasClass('active')) {
                  header.click()
              }
          }


          var input = $('#decease-input');

          window.onpopstate = function (e) {
              if (e.state && e.state['decease_id']) {
                  var decease = e.state['decease_id'];
                  history = true;
                  click_decease_by_id(decease)
              }
              else {
                  $('#decease-input').val('');
                  $('.decease-detail.active').removeClass('active');
                  $('.collapsible li.active .collapsible-header').click();
                  $('.decease').html('')
              }
          };
          var DECEASE_DETAIL = "{% url 'decease-detail' pk=1 %}";
          $('.decease-detail').on('click', function (e) {
              var el = $(this);
              $('.decease-detail.active').removeClass('active');
              el.addClass('active');
              $.ajax({
                  url: DECEASE_DETAIL.replace('1', el.data('id')),
                  method: 'GET',
                  success: function (response) {
                      input.val(el.html());
                      $('.decease').html(response);
                      console.log(history)
                      if (!history) {
                          var search = '?decease_id=' + el.data('id');
                          var l = location.protocol + '//' + location.host + location.pathname;
                          window.history.pushState({'decease_id': el.data('id')}, "", l + search);

                      }
                      history = false;
                  }
              })
          });
          var decease = parseInt("{{ request.GET.decease_id}}");
          if (decease) {
              click_decease_by_id(decease)
          }
          input.devbridgeAutocomplete({
              serviceUrl: '{% url "decease-autocomplete" %}',
              onSelect: function (suggestion) {
                  if (suggestion.data !== sug) {
                      var el = $(".decease-detail[data-id='" + suggestion.data + "']");
                      el.click();
                  }
                  sug = suggestion.data
              }
          });
      })
  </script>
{% endblock %}