{% extends 'base.html' %}
{% load static %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}




    <div class="text">
    <h1>О нас</h1>
		<p> Бла бла, мы крутые </p>

		<table style = "margin-top: 5%">
        <tr>
            <td class="leftcol">
				<img class="responsive-img" src="{% static 'images/pat_on.jpg' %}" width="65%" height="65%" style="margin-left: 30%; border-radius: 8px">
            </td>

            <td style= "text-indent: 3%">
				<img class="responsive-img" src="{% static 'images/doc_on.jpg' %}" width="65%" height="65%" style="border-radius: 8px">
            </td>
        </tr>
        </table>

	</div>


{% endblock %}