{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Twig your health{% endblock %}</title>

    <link href="{% sass_src 'scss/all.scss' %}" rel="stylesheet" type="text/css"/>
    {% block extrahead %} {% endblock %}
</head>
<body>
<script src="{% static 'js/jquery.js' %}"></script>
<div class="content">
    <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href=""> text</a>
                    </li>
                    <li class="nav-item">
                        <a href=""> text</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            {% if user.is_doctor %}
                                {% if user.doctor.is_private %}
                                    Hi, private doctor {{ user.username }}
                                {% else %}
                                    Hi, public doctor {{ user.username }}
                                {% endif %}
                            {% elif user.is_patient %}
                                Hi, patient {{ user.username }}
                            {% else %}
                                Hi, OUR GOD ADMIN {{ user.username }}
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}


                </ul>
            </div>
        </nav>
    </header>
    {% block content %} {% endblock %}
</div>

{% block extrajs %} {% endblock %}
</body>
</html>