{% extends 'base.html' %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}

    <style>
    </style>
    <div class="container">
        <h1>About us</h1>
        <div class="row mb-4 mt-4">
            <div class="col col-sm-2 d-flex offset-m2 flex-column align-items-center justify-content-center text-center m-4">
                <div>test</div>
            </div>
            <div class="col col-sm-1 offset-m2">
                <div>test</div>
            </div>
            <div class="col m2-offset">
                <div class="row flex-row justify-content-center">
                    <div>
                        text
                    </div>
                    <div>
                        text
                    </div>
                </div>
            </div>
        </div>
        <p>lalalla</p>
        <p>lalla</p>
    </div>
{% endblock %}