{% extends 'base.html' %}
{% load static %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}

   <div class="text">
        <h1>Кто мы?</h1>
        <table>
        <tr>
            <td class="leftcol">
                <img class="responsive-img" src="{% static 'images/doctors.jpg' %}" width="65%" height="65%" style="margin-left: 30%; border-radius: 8px">
            </td>

            <td style= "text-indent: 3%">
                <div style="margin-right: 20%; margin-left: 20%">Мы - ваше спасение. Мы предоставляем нашим пользователям онлайн диагностику по введенным симптомам. А также удлбную зпись к интересующему вас врачу. Больше не потребуется стоять в долгих очередях, чтобы решить маленькую проблему.</div>
            </td>
        </tr>
        </table>

        <h1>Почему мы?</h1>
        <table>
        <tr>
            <td style= "text-indent: 3%">
                <div style="margin-left: 30%">Мы - первый онлайн сервис по диагностике различных заболеваний. Полная конфиденциальность и опервативность. Комфортность и удобство в использовании. </div>

            </td>

            <td>
                <div style="margin-left: 10%">
                <img class="responsive-img" src="{% static 'images/medical-record.jpg' %}" width="75%" height="75%" style=" border-radius: 8px">
                </div>
            </td>
        </tr>
        </table>

        <h1>Больницы,с которыми мы сотрудничаем</h1>
        <div class="wrap">
            <div class="blocks example3">
                <img src="{% static 'images/KlinHos.jpg' %}" width="100%" height="100%" style="border-radius: 8px"/>
                    <div class="example_text">
                        <h6>Харьковская Областная Клиническая Больница</h6>
                        <span>проспект Независимости 13</span>
                    </div>
            </div>

            <div class="blocks example3">
                <img src="{% static 'images/Hos14.jpg' %}" width="100%" height="100%" style="border-radius: 8px"/>
                <div class="example_text">
                        <h6>14-Я Городская Клиническая Больница им. проф. л. л. Гиршмана</h6>
                        <span>ул. Олеся Гончара, 5</span>
                </div>
            </div>


            <div class="blocks example3">
                <img src="{% static 'images/StudHos.jpg' %}" width="100%" height="100%" style="border-radius: 8px"/>
                <div class="example_text">
                        <h6>Харьковская городская студенческая больница</h6>
                        <span>ул. Дарвина 10</span>
                </div>
            </div>


            <div class="blocks example3">
                <img src="{% static 'images/hospit18.jpg' %}" width="100%" height="100%" style="border-radius: 8px"/>
                <div class="example_text">
                        <h6>Городская многопрофильная больница № 18</h6>
                        <span>ул. Краснодарская, 104</span>
                    </div>
            </div>

        </div>

    </div>

{% endblock %}