@import "reset";
@import "materialize/materialize";
@import "chat";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Uni sans", monospace;
}
i.icon-red {
    color: red;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.dropdown-content{
  opacity: 1 !important;
  top:50px;
  width: 100%;
}
main{
  margin-top: 5px;
}