@import "reset";
@import "materialize/materialize";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap";
@import "chat";
@import "sign_up";
@import "timetable";
@import "notifications";
@import "call";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Uni sans", monospace;
}

i.icon-red {
  color: red;
}

header, footer {
  padding-left: 300px;
}

main {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.dropdown-content {
  opacity: 1 !important;
  top: 50px;
  width: 100%;
}

main {
  margin-top: 5px;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.nav-link.active {
  border-radius: 15px;
}

a.btn {
  color: white !important;
  &:hover {
    color: white !important;
    text-decoration: none;
  }
  &.btn-small {
    line-height: 24px;
  }
}

.btn-small {
  height: 24px;
  line-height: 14px;
}

.btn > a {
  color: white;
  text-decoration: none;
}

.autocomplete .chip {
  margin-top: 5px;
  margin-left: -5px;
  height: auto;
}
.brand-logo, .breadcrumb{
  &:hover{
    text-decoration: underline;
    color: white;
  }
}