@import "reset";
@import "materialize/materialize";
@import "chat";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Uni sans", monospace;
}
i.icon-red {
    color: red;
}
